@import url("https://fonts.googleapis.com/css?family=Montserrat");

.text1{
    color: #101B2E;
    margin-bottom: 30px;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
  }

.bg-c-light{
    background: #f2f2f2;
  }

.section{
    padding: 40px;
    padding-bottom: 40px;
    font-family: 'Montserrat', sans-serif;
  }
  
.main-heading{
    margin-top: 30px;
    color: #101B2E;
    font-size: 26px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
  }
  
.main-heading1{
    color: #101B2E;
    font-size: 26px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
  }
  
.underline{
    height: 04px;
    width: 4rem;
    background-color: #101B2E;
    margin-top: 20px;
    margin-bottom: 20px;
  }

.btn-dark{
    background-color: #101B2E!important;
  }
